@layer theme, base, components, utilities;

@import 'tailwindcss';
@import '@nuxt/ui';

@theme {
  /* fonts */
  --font-inter: 'Inter';

  /* breakpoints */
  --breakpoint-3xl: 1920px;

  /* colors */
  --color-primary: #00c16a;
  --color-custom-gray: #6b7280;
}

@layer utilities {
  .flex-center {
    @apply flex items-center justify-center;
  }
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }

  * {
    @apply font-inter;
  }
}
